html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */
.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

/* definicao basica do card */
.deck .card {
    height: 125px;
    width: 125px;
    display: flex;
    /*configuracoes da execucao do flipper */
    transform-style: preserve-3d;
    transition-duration: 500ms;
}

/*configuracoes em comum as faces do card*/
.deck .card .close, .deck .card .open {
    height: 100%;
    width:  100%;
    position: absolute;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    border-radius: 8px;
    backface-visibility:hidden;
}

/*configuracao especifica do card fechado */
.deck .card .close {
    cursor: pointer;
    background: #2e3d49;
    transform: rotateY(0);
}

/*configuracao especifica do card aberto */
.deck .card .open {    
    cursor: default;
    background: #02b3e4;
    transform: rotateY(-180deg);
    /*apresentacao da figura no card */
    line-height:125px;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-size: 33px;

}

/* animacao de flipper */
.deck .card.flipper {
	animation-duration: 500ms;
	animation-name: efeito-flipper;
	animation-fill-mode: forwards;
}

@keyframes efeito-flipper {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(-180deg);
    }
}

/* animacao de card certo */
.deck .card .open.certo {
    background: #02ccba;
	animation-duration: 500ms;
    animation-name: efeito-certo;
}

@keyframes efeito-certo {
	0% {
		transform: scale(1.2, 0.5) rotateY(-180deg);  
	}
	30% {
		transform: scale(0.5, 1.2) rotateY(-180deg);
    }
    60% {
		transform: scale(1.1, 0.8) rotateY(-180deg);
    }
    80% {
		transform: scale(0.8, 1.1) rotateY(-180deg);
    }
	100% {
	    transform: scale(1) rotateY(-180deg); 
	}
}

/* animacao de card errado */
.deck .card .open.errado {
    background: #ff0000;
	animation-duration: 500ms;
	animation-name: efeito-errado;
}

@keyframes efeito-errado {
    0% {
        transform: rotate(0) translateX(0) rotateY(-180deg); 
	}
    20% {
		transform: rotate(10deg) translateX(20px) rotateY(-180deg); 
	}
    40% { 
	    transform: rotate(-5deg) translateX(-5px) rotateY(-180deg);
    }
    60% {
	    transform: rotate(10deg) translateX(20px) rotateY(-180deg); 
	}
    80% {
	    transform: rotate(-5deg) translateX(-5px) rotateY(-180deg);
	}
  100% {
        transform: rotate(0) translateX(0) rotateY(-180deg); 
	}
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*
 * Estilos para a apresentacao do resultado
 */
 #resultado {
    color: #dddddd;
    text-align: center;
}
 
.result{
	font-weight:bold;
	height: 100%;
}

.result h1 {
    top: 60%;
}

.play {
    background-color: #02ccba;
    color:#ffffff;
    border-radius: 7px;
    width: 120px;
    height: 40px;
    font-weight: bolder;
}

.container.invisivel {
    display:none;
}

/*
    Style para o checking de sucesso
*/
#checking {
    position: relative;
    width: 75px;
    height: 75px;
}

#halfclip1, #halfclip2 {
    width: 50%;
    height: 100%;
    left: 0px;
    position: absolute;
    overflow: hidden;
    transform-origin: right center;
} 

#halfclip2 {
    transform: rotate(180deg);
}

.halfcircle {
    box-sizing: border-box;
    height: 100%;
    left: 0px;
    position: absolute;
    border: solid 5px transparent;
    border-top-color: #00dd00;
    border-right-color: #00dd00;
    border-radius: 50%;
    transform: rotate(0deg);
}

#clipped1, #clipped2 {
    width: 200%;
    opacity: 0.3;
    transform: rotate(45deg);
}

#fixed {
    width: 100%;
    transform: rotate(135deg);  
    opacity: 0.3;
    border-bottom-color: #00dd00;
    border-left-color: #00dd00;
}

/* configuracao check */
#check1, #check2 {
    position: absolute;
    background-color: #00dd00;
    opacity: 0;
    height: 7px;
    border-radius: 3px;
    width: 1px; 
}

#check1 {
    transform: rotate(45deg) translate(20px, 8px);
}
  
#check2 {
    transform: rotate(135deg) translate(-15px, -41px);
}

/*
    Definicao e classes que ativam a animacao do cheking
*/
.animacaocheck1 {
    animation: preenchimentoCheckEsquerda 500ms linear 2s 1 forwards;
}

.animacaocheck2 {
    animation: preenchimentoCheckDireita 500ms linear 2500ms 1 forwards;
}

.animacaoclipped1, .animacao-clipped2{
    transform: rotate(45deg);
}
.animacaoclipped1 {
    animation: preenchimentoBordaEsquerda 2s linear 1 forwards;
}
.animacaoclipped2 {
    animation: preenchimentoBordaDireita 1s linear 1s 1 forwards;
}

@keyframes preenchimentoBordaEsquerda {
    0% {
        transform: rotate(45deg);
        opacity: 1;
    }
    50% {
        transform: rotate(-135deg);
        opacity: 1;
    }
    100% {
        transform: rotate(-135deg);
        opacity: 1;
    }
}

@keyframes preenchimentoBordaDireita {
    0% {
        transform: rotate(45deg);
        opacity: 1;
    }
    100% {
        transform: rotate(-135deg);
    opacity: 1;
    }
}

@keyframes preenchimentoCheckEsquerda {
    0% {
        opacity: 0.3; 
        width: 1px; 
        transform: rotate(45deg) translate(20px, 8px);
    }
    50% {
        opacity: 0.3; 
        width: 30px; 
        transform: rotate(45deg) translate(39px, 19px);
    }
    99% {
        opacity: 0.3; 
        width: 30px; 
        transform: rotate(45deg) translate(39px, 19px);
    }
    100% {
        opacity: 1; 
        width: 30px; 
        transform: rotate(45deg) translate(39px, 19px);
    }
}

@keyframes preenchimentoCheckDireita {
    0% {
        opacity: 0.3; 
        width: 1px; 
        transform: rotate(135deg) translate(-15px, -41px);
    }
    99% {
        opacity: 0.3; 
        width: 40px; 
        transform: rotate(135deg) 
        translate(17px, -26px);
    }
    100% {
        opacity: 1; 
        width: 40px; 
        transform: rotate(135deg) translate(17px, -26px);
    }
}